<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<title>OAuth sample</title>
</head>
<body>
<h1>This page is the starting page</h1>
<p>
  From here you can click a link and go to the OAuth server for authentication.
  Click <a href="/goto_oauth">this link to proceed</a>
</p>
</body>
</html>
